{{> modals/create_post-modal}}

{{!-- Hiển thị bài viết --}}
<div class="post-container">
    
</div>

{{#each post}}
<div class="post_id bg-white container d-lg-flex flex-column p-0 mb-4" data-postid="{{_id}}">

    {{!-- Post header - Hiển thị tên chủ bài viết và ngày đăng --}}
    <div class="post_header col-12 mt-3">
        <div class="d-flex row bd-highlight">
            <a class="col-lg-2 col-2 d-flex align-items-center justify-content-end"
                href="/profile/{{#each user}}{{_id}}{{/each}}">
                <img src='{{#each user}}{{avatar}}{{/each}}' alt="avatar" width="50" height="50"
                    class="img-fluid post-comments_avatar">
            </a>
            <a class="row post_header-userInfo col-9 col-lg-8 d-flex align-items-center justify-content-center p-0"
                href="/profile/{{#each user}}{{_id}}{{/each}}">
                <div class="p-2 bd-highlight">
                    <div>
                        <strong>
                            {{#each user}}
                            {{fullname}}
                            {{/each}}
                        </strong>
                        {{#if isUpdated}}<span class="small">(Bài viết đã cập nhật)</span>{{/if}}
                    </div>
                    <div class="small">
                        {{create_date}} at {{create_time}}
                    </div>
                </div>
            </a>
            {{!-- Post action --}}
            <div class="col-lg-2 col-1 d-flex align-items-center justify-content-end">
                <div class="dropdown">
                    <span class="material-icons-two-tone post-dropdown-action" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        more_horiz
                    </span>
                    <ul class="dropdown-menu dropdown-menu-lg-end post_dropdown-menu"
                        aria-labelledby="dropdownMenuButton1">
                        <li class="me-1 ms-1">
                            <a class="dropdown-item d-flex justify-content-start align-items-center" href="#"
                                data-bs-toggle="modal" data-bs-target="#updatePostModal_{{_id}}">
                                <span class="material-icons-outlined me-2">
                                    settings
                                </span>
                                <span>Chỉnh sửa</span>
                            </a>
                        </li>
                        <li class="me-1 ms-1">
                            <a class="dropdown-item d-flex justify-content-start align-items-center post_delete_Btn"
                                href="#">
                                <span class="material-icons-outlined me-2">
                                    delete
                                </span>
                                <span>Xoá</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{!-- Phần hiển thị nội dung bài viết --}}
    <div class="post_body col-12">
        {{!-- Post body --}}
        <div class="d-flex flex-column col-12 mt-3">
            <div id="post_caption_{{_id}}" class="col-12 post_body-caption post_caption-lineclamp">{{caption}}</div>
        </div>
        {{#if video}}
        <div class="col-12 mt-3">
            <iframe class="post_video-iframe" id="video1" width="450" height="280"
                src="http://www.youtube.com/embed/{{video}}?enablejsapi" frameborder="0" allowtransparency="true"
                allowfullscreen></iframe>
        </div>
        {{else}}
        {{/if}}
        <div class="col-12 mt-1">
            {{#if image}}
            <img src="{{image}}" alt="image" class="img-post img-fluid post_img-viewImg" data-bs-toggle="modal"
                data-bs-target="#post_img-viewImg_{{_id}}">
            {{else}}
            {{/if}}
        </div>
        {{!-- Modal để xem ảnh to hơn --}}
        <div class="modal fade" id="post_img-viewImg_{{_id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class=" modal-content">
                    <div class="modal-body d-flex flex-column justify-content-center">
                        <div class="col-12 d-flex justify-content-end">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="col-12">
                            <img src="{{image}}" alt="image" class="img-post img-fluid post_img-viewImg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- Phần hiển thị nút hiện bình luận --}}
    <div class="post_footer col-12">
        <div class="button_post container pb-2">
            <hr>
            <div class="row">
                <div type="button" class="btn d-flex justify-content-center comments_expand col-6">
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="material-icons-outlined icon me-2">
                            chat_bubble_outline
                        </div>
                        <div>Bình luận</div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center col-6">
                    <div>{{comments.length}} Bình luận</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="spinner-border d-none" id="comment_loading_{{_id}}" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    {{!-- Phần bình luận khi chưa có bình luận nào được viết trong bài viết --}}
    <div class="col-12 post_comments comment_container_{{_id}} d-none" id="comment_{{_id}}">
        <div class="d-flex container-fluid mb-2">
            <div class="d-flex justify-content-center col-1">
                <a class="post-comments_avatar" href="/profile/{{#each user}}{{_id}}{{/each}}">
                    <img src='{{#each user}}{{avatar}}{{/each}}' alt="avatar" width="50" height="50"
                        class="img-fluid rounded-circle">
                </a>
            </div>
            <div class="d-flex justify-content-center col-11">
                <textarea type="text" rows="1" placeholder="Write a comment..."
                    class="form-control comment_box post_create-cmtInpt text_area_border"
                    oninput="onChangeTextArea()"></textarea>
            </div>
        </div>
    </div>

    {{!-- Script render phần bình luận cho bài viết khi đã có bình luận --}}
    <script class="comment_data_template_{{_id}}" type="text/template">
        <div class="d-flex container-fluid mb-2">
            <div class="d-flex justify-content-center col-1">
                <a class="post-comments_avatar" href="/profile/{{#each user}}{{_id}}{{/each}}">
                    <img src='{{#each user}}{{avatar}}{{/each}}'
                        alt="avatar" width="50" height="50" class="img-fluid rounded-circle">
                </a>
            </div>
            <div class="d-flex justify-content-center col-11">
                <textarea type="text" rows="1" placeholder="Write a comment..."
                    class="form-control comment_box post_create-cmtInpt text_area_border" oninput="onChangeTextArea()"></textarea>
            </div>
        </div>
        {{!-- ----------------- --}}
        {{#comments}}
        <div class="post_comment col-12 d-flex justify-content-center mb-3" data-commentid="{{_id}}">
            <div class="d-flex flex-column container-fluid">
                <div class="col-12 d-flex flex-row">
                    <div class="d-flex justify-content-center col-2">
                        <a class="post-comments_avatar" href="/profile/{{#each user}}{{_id}}{{/each}}">
                            <img src='{{#each user}}{{avatar}}{{/each}}'
                                alt="avatar" width="50" height="50" class="img-fluid rounded-circle">
                        </a>
                    </div>
                    <div class="post_comment-container bd-highlight col-9">
                        <div class="underline">
                            <strong>
                                {{#each user}}
                                    {{fullname}}
                                {{/each}}
                            </strong>
                        </div>
                        <div class="post_body-comments post_comments-lineclapm">
                                {{content}}
                        </div>
                    </div>
                    <div class="col-lg-1 col-1 d-flex align-items-center justify-content-end">
                            <div class="dropdown">
                                <span class="material-icons-two-tone post-dropdown-action" id="dropdownMenuComment"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    more_horiz
                                </span>
                                <ul class="dropdown-menu post_dropdown-menu"
                                    aria-labelledby="dropdownMenuComment">
                                    <li class="me-1 ms-1">
                                        <a class="dropdown-item d-flex justify-content-start align-items-center" data-bs-toggle="modal" data-bs-target="#updateCommentModal_{{_id}}" href="#">
                                            <span class="material-icons-outlined me-2">
                                                settings
                                            </span>
                                            <span>Chỉnh sửa comment</span>
                                        </a>
                                    </li>
                                    <li class="me-1 ms-1">
                                        <a class="dropdown-item d-flex justify-content-start align-items-center post_comment-delBtn"
                                            href="#">
                                            <span class="material-icons-outlined me-2">
                                                delete
                                            </span>
                                            <span>Xoá</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="col-12">
                    <div class="d-flex justify-content-end align-items-center me-5">
                        <small class="underline">{{create_time}}</small>
                    </div>
                </div>
            </div>

            {{!-- Modal cập nhật bình luận --}}
            <div class="modal fade updateCommentModal" id="updateCommentModal_{{_id}}" tabindex="-1"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title modal_text" id="exampleModalLabel">Cập nhật bình luận</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="post_header">
                                <div class="d-flex bd-highlight mb-2 ">
                                    <img class="post-comments_avatar mt-2 p-2 bd-highlight" width="50" height="50" alt="avatar"
                                        src="{{#each user}}{{avatar}}{{/each}}">
                                    <div class="bd-highlight d-flex justify-content-center align-items-center">
                                        <div class="modal_text ms-3">
                                            <strong>
                                                {{#each user}}{{fullname}}{{/each}}
                                            </strong>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center col-12">
                                <textarea id="update_comment-input_{{_id}}" type="text" rows="1"
                                    class="form-control shadow-none comment_box post_update-cmtInpt create_post-input"
                                    oninput="onChangeTextArea()">{{content}}</textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary update_comment-Btn modal_text">Cập nhật</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/comments}}
        {{!-- ----------------------------- --}}
    </script>


    {{> modals/update_post_modal}}
</div>
{{/each}}

<script type="text/javascript">
    function onChangeTextArea() {
        //auto resize text area
        const tx = $('.comment_box');

        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute(
                'style',
                'height:' + tx[i].scrollHeight + 'px;overflow-y:hidden;'
            );
            tx[i].addEventListener('input', OnInput, false);
        }
        function OnInput() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        }
    }
</script>