<div class="create_post_body">
    <div class="head_comment">
        <div class="d-flex justify-content-center align-items-center p-2">
            <img class="avt_create_post bd-highlight mt-1" src="{{{user.avatar}}}">
            <div class="input_bar">
                <div type="text" class="form-control text_area_border" data-bs-toggle="modal"
                    data-bs-target="#createAnnounceModal">
                    <span>Viết thông báo...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createAnnounceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title modal_text" id="exampleModalLabel">Tạo thông báo</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="post_header">
                    <div class="d-flex bd-highlight mb-2 ">
                        <img class="post-comments_avatar mt-2 p-2 bd-highlight" width="50" height="50" alt="avatar"
                            src="{{{user.avatar}}}">
                        <div class="bd-highlight d-flex justify-content-center align-items-center">
                            <div class="modal_text ms-3">
                                <strong>
                                    {{{user.fullname}}}
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" d-flex justify-content-center col-12">
                    <textarea type="text" rows="1" placeholder="Viết thông báo ..."
                        class="form-control shadow-none comment_box create_announce-title"
                        oninput="onChangeTextArea()"></textarea>
                </div>
                <div class="d-flex justify-content-center col-12">
                    <textarea class="create_announce-content" name="create_announce-content"></textarea>
                    <script>
                        CKEDITOR.replace('create_announce-content', {
                            fullPage: true,
                            allowedContent: true
                        });
                    </script>
                </div>
                <div class="d-flex flex-column justify-content-center col-12">
                    {{#each sections}}
                    <div class="form-check">
                        <input class="form-check-input create_announce-section" type="checkbox" value="{{{_id}}}">
                        <label class="form-check-label" for="cb${index}">
                            {{{name}}}
                        </label>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary create_announce-submitBtn modal_text">Đăng thông
                    báo</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function onChangeTextArea() {
        //auto resize text area
        const tx = $('.comment_box');
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute(
                'style',
                'height:' + tx[i].scrollHeight + 'px;overflow-y:hidden;'
            );
            tx[i].addEventListener('input', OnInput, false);
        }
        function OnInput() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        }
    }
</script>