{{!-- Hiển thị thông báo --}}
{{#each announcements}}
<div class="announce_id announces_container container d-lg-flex flex-column col-12 p-0 mb-4" data-announceid="{{_id}}">
    {{!-- Annoucement header - Hiển thị tên chủ bài viết và ngày đăng --}}
    <div class="post_header col-12 mt-3">
        <div class="d-flex row bd-highlight">
            <a class="col-lg-1 col-2 d-flex align-items-center justify-content-end"
                href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                    alt="avatar" width="50" height="50" class="img-fluid post-comments_avatar">
            </a>
            <a class="row post_header-userInfo col-9 col-lg-10 d-flex align-items-center justify-content-center p-0"
                href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                <div class="p-2 bd-highlight">
                    <div>
                        <strong>
                            {{#each user}}
                            {{fullname}}
                            {{/each}}
                        </strong>
                        {{#if isUpdated}}<span class="small">(Bài viết đã cập nhật)</span>{{/if}}
                    </div>
                    <div class="small">
                        {{create_date}} at {{create_time}}
                    </div>
                </div>
            </a>
            {{!-- Annoucements action --}}
            <div class="col-lg-1 col-1 d-flex align-items-center justify-content-end">
                <div class="dropdown">
                    <span class="material-icons-two-tone post-dropdown-action" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        more_horiz
                    </span>
                    <ul class="dropdown-menu dropdown-menu-lg-end post_dropdown-menu"
                        aria-labelledby="dropdownMenuButton1">
                        <li class="me-1 ms-1">
                            <a class="dropdown-item d-flex justify-content-start align-items-center" href="#"
                                data-bs-toggle="modal" data-bs-target="#updateAnnounceModal_{{_id}}">
                                <span class="material-icons-outlined me-2">
                                    settings
                                </span>
                                <span>Chỉnh sửa</span>
                            </a>
                        </li>
                        <li class="me-1 ms-1">
                            <a class="dropdown-item d-flex justify-content-start align-items-center announce_delete_Btn"
                                href="#">
                                <span class="material-icons-outlined me-2">
                                    delete
                                </span>
                                <span>Xoá</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{!-- Phần hiển thị nội dung thông báo --}}
    <div class="post_body col-12 mb-3">
        {{!-- Post body --}}
        <div class="d-flex flex-column col-12 mt-3">
            <div id="announce_content_{{_id}}" class="col-12 announce_body-content announce_content-lineclamp">
                {{{content}}}
            </div>
        </div>
    </div>

    {{> update_announce-modal}}
</div>
{{/each}}


<script type="text/javascript">
    function onChangeTextArea() {
        //auto resize text area
        const tx = $('.comment_box');
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute(
                'style',
                'height:' + tx[i].scrollHeight + 'px;overflow-y:hidden;'
            );
            tx[i].addEventListener('input', OnInput, false);
        }
        function OnInput() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        }
    }
</script>