<div class="create_post_body">
  <div class="head_comment">
    <div class="d-flex">
      <img class="avt_create_post p-2 bd-highlight mt-1"
        src="{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}">
      <div class="input_bar">
        <div type="text" class="form-control text_area_border" data-bs-toggle="modal" data-bs-target="#createPostModal">
          <span>Bạn muốn viết gì?</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title modal_text" id="exampleModalLabel">Tạo bài viết</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="post_header">
          <div class="d-flex bd-highlight mb-2 ">
            <img class="mt-2 circle_img_create_post p-2 bd-highlight "
              src="{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}">
            <div class="bd-highlight d-flex justify-content-center align-items-center">
              <div class="modal_text">
                {{#each user}}{{fullname}}{{/each}}
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <textarea class="form-control modal-style create_post-input" id="message-text"
            placeholder="Bạn muốn viết gì ?"></textarea>
        </div>
        <div class="input_img" id="input_img">
          <div class="input_body d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex flex-column align-items-center ">
              <input type="file" id="file" name="image" class="create_post-image d-none" accept="image/*,video/*"
                onchange="loadFile(event)" />
              <button class="add_img_btn" onclick="img_upload();">
                <span class="material-icons-outlined">
                  add_photo_alternate
                </span>
              </button>
              <div>Thêm ảnh hoặc video</div>
            </div>
          </div>
        </div>
        <div class="create_post-imgReview" id="review">
          <button type="button" class=" btn_remove_img modal_text" onclick="remove();">
            <span class="material-icons-outlined icon_remove">
              clear
            </span>
          </button>
          <img class="img_post" id="review_img">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary create_post-submitBtn modal_text">Đăng</button>
      </div>
    </div>
  </div>
</div>