<div class="navbar-header">
    <nav class="navbar navbar-expand-lg p-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img src="../../image/tdt.jpg" width="50" height="50" alt="logo">
            </a>
            <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="material-icons-outlined">
                    menu
                </span>
            </button>
            <div class="mt-3 mt-lg-0 row d-lg-flex collapse navbar-collapse" id="navbarSupportedContent">
                {{!-- Mobile User --}}
                <div class="d-flex d-lg-none">
                    <div class="container p-0">
                        <a href="/" type="button" class="col-12 d-flex p-2 btn navbar_head-items navbar_head-hover">
                            <div class="col-11 d-flex align-items-center">
                                <div>
                                    Trang chủ
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group d-flex align-items-center">
                                    <span class="material-icons-outlined" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Tất cả bài đăng">
                                        home
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a href="/announcements" type="button"
                            class="col-12 d-flex p-2 btn navbar_head-items navbar_head-hover">
                            <div class="col-11 d-flex align-items-center">
                                <div>
                                    Thông báo Phòng/Khoa
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group d-flex align-items-center">
                                    <span class="material-icons-outlined" data-bs-toggle="tooltip"
                                        data-bs-placement="top" title="Bài đăng của Khoa">
                                        school
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a href="/profile/{{user._id}}" type="button"
                            class="col-12 d-flex p-2 btn navbar_head-items navbar_head-hover">
                            <div class="col-11 d-flex align-items-center">
                                <div>
                                    Chỉnh sửa thông tin cá nhân
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group d-flex align-items-center">
                                    <span class="material-icons-outlined me-2">
                                        settings
                                    </span>
                                </div>
                            </div>
                        </a>

                        <a href="/logout" type="button"
                            class="col-12 d-flex p-2 btn navbar_head-items navbar_head-hover">
                            <div class="col-11 d-flex align-items-center">
                                <div>
                                    Đăng xuất
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group d-flex align-items-center">
                                    <span class="material-icons-outlined me-2">
                                        logout
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                {{!-- PC User --}}
                <div class="col-4 d-lg-flex d-none flex-row justify-content-center align-items-center">

                </div>

                <div class="d-lg-flex d-none col-4 d-flex flex-row justify-content-center align-items-center">
                    {{!-- Normal post --}}
                    <div class="btn-group me-3 ms-3 d-flex align-items-center">
                        <a href="/" type="button" class="d-flex btn navbar-action-btn active">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Tất cả bài đăng">
                                home
                            </span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                    </div>


                    {{!-- Faculty post --}}
                    <div class="btn-group me-3 ms-3 d-flex align-items-center">
                        <a href="/announcements" class="d-flex btn navbar-action-btn navtop-announcement-Btn">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Bài đăng của Khoa">
                                school
                            </span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="d-lg-flex d-none col-4 d-flex flex-row justify-content-center align-items-center">
                    <div class="d-flex align-items-center navbar-custom-item">
                        <a class="d-flex align-items-center justify-content-center" href="/profile/{{user._id}}">
                            <img src='{{{user.avatar}}}' alt="avatar" width="32" height="32"
                                class="rounded-circle me-2">
                            <span style="font-size: 14px">
                                {{{user.fullname}}}
                            </span>
                        </a>
                    </div>
                    {{!-- Notificatioons dropdown --}}
                    <div class="btn-group me-3 ms-3 d-flex align-items-center">
                        <button type="button" class="d-flex btn navbar-action-btn" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Thông báo">
                                notifications
                            </span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">

                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                        <ul
                            class="dropdown-menu dropdown-menu-end dropdown-menu-alert dropdown_notifications-post-container p-0">

                        </ul>

                    </div>

                    {{!-- Setting options --}}
                    <div class="btn-group d-flex align-items-center">
                        <button type="button" class="d-flex btn navbar-action-btn" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Cài đặt">
                                arrow_drop_down
                            </span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-setting p-1">
                            <li>
                                <a href="/" class="d-flex dropdown-item p-2" type="button">
                                    <span class="material-icons-outlined me-2">
                                        home
                                    </span>
                                    <span>Trang chủ</span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile/{{user._id}}" class="d-flex dropdown-item p-2" type="button">
                                    <span class="material-icons-outlined me-2">
                                        settings
                                    </span>
                                    <span>Chỉnh sửa thông tin cá nhân</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="d-flex dropdown-item p-2" href="/logout">
                                    <span class="material-icons-outlined me-2">
                                        logout
                                    </span>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>