<div class="navbar-header">
    <nav class="navbar navbar-expand-lg p-1">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">
                <img src="../../../image/tdt.png" width="50" height="50" alt="logo">
            </a>
            <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="material-icons-outlined">
                    menu
                </span>
            </button>
            <div class="row d-lg-flex collapse navbar-collapse" id="navbarSupportedContent">
                {{!-- Mobile User --}}
                <div class="d-flex d-lg-none">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                </div>
                {{!-- PC User --}}
                <div class="col-4 d-lg-flex d-none flex-row justify-content-center align-items-center">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {{!-- <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li> --}}
                        {{!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li> --}}
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn navbar-action-btn d-flex align-items-center" type="submit">
                                <span class="material-icons-outlined">
                                    search
                                </span>
                            </button>
                        </form>
                    </ul>
                </div>

                <div class="d-lg-flex d-none col-4 d-flex flex-row justify-content-center align-items-center">
                    {{!-- Normal post --}}
                    <div class="btn-group me-3 ms-3 d-flex align-items-center">
                        <a href="/" type="button" class="d-flex btn navbar-action-btn active">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Tất cả bài đăng">
                                home
                            </span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                    </div>

                    {{!-- Video post --}}
                    <div class="btn-group me-3 ms-3 d-flex align-items-center">
                        <a href="/" class="d-flex btn navbar-action-btn">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Bài đăng Video">
                                play_arrow
                            </span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                    </div>

                    {{!-- Faculty post --}}
                    <div class="btn-group me-3 ms-3 d-flex align-items-center">
                        <a href="/announcements" class="d-flex btn navbar-action-btn navtop-announcement-Btn">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Bài đăng của Khoa">
                                school
                            </span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="d-lg-flex d-none col-4 d-flex flex-row justify-content-center align-items-center">
                    <div class="d-flex align-items-center navbar-custom-item">
                        <a class="d-flex align-items-center justify-content-center" href="#">
                            <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                                alt="avatar" width="32" height="32" class="rounded-circle me-2">
                            {{#each user}}
                            {{fullname}}
                            {{/each}}
                        </a>
                    </div>

                    {{!-- Notificatioons dropdown --}}
                    <div class="btn-group me-3 ms-3 d-flex align-items-center">
                        <button type="button" class="d-flex btn navbar-action-btn" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Thông báo">
                                notifications
                            </span>
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-alert p-0">
                            {{#each announcements}}
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">
                                            <span class="me-2 material-icons-outlined">
                                                cast_for_education
                                            </span>
                                            <span>{{#each user}}{{fullname}}{{/each}}</span>
                                        </strong>
                                    </div>
                                    <div class="col-12 mb-1 dropdown-alert-content">
                                        {{{content}}}
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        {{create_date}} lúc {{create_time}}
                                    </div>
                                </a>
                            </li>
                            {{/each}}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {{#each post}}
                            <li>
                                <a href="#" class="dropdown-item p-3" aria-current="true">
                                    <div
                                        class="d-flex w-100 align-items-center justify-content-between dropdown-alert-content">
                                        <strong class="mb-1">
                                            <span class="me-2 material-icons-outlined">
                                                people
                                            </span>
                                            <span>{{#each user}}{{fullname}}{{/each}}</span>
                                        </strong>
                                    </div>
                                    <div class="col-12 mb-1 dropdown-alert-content">
                                        {{caption}}
                                    </div>
                                    <div class="col-12 mb-1 dropdown-alert-content">
                                        <strong>{{#if image}}Bài viết có ảnh.{{/if}}</strong>
                                    </div>
                                    <div class="col-12 mb-1 small d-flex align-items-center dropdown-alert-content">
                                        <span class="material-icons-outlined m-1">
                                            schedule
                                        </span>
                                        {{create_date}} lúc {{create_time}}
                                    </div>
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>

                    {{!-- Setting options --}}
                    <div class="btn-group d-flex align-items-center">
                        <button type="button" class="d-flex btn navbar-action-btn" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                                title="Cài đặt">
                                arrow_drop_down
                            </span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-setting p-1">
                            <li>
                                <a href="/" class="d-flex dropdown-item p-2" type="button">
                                    <span class="material-icons-outlined me-2">
                                        home
                                    </span>
                                    <span>Trang chủ</span>
                                </a>
                            </li>
                            <li>
                                <a href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}"
                                    class="d-flex dropdown-item p-2" type="button">
                                    <span class="material-icons-outlined me-2">
                                        settings
                                    </span>
                                    <span>Chỉnh sửa thông tin cá nhân</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="d-flex dropdown-item p-2" href="/logout">
                                    <span class="material-icons-outlined me-2">
                                        logout
                                    </span>
                                    <span>Đăng xuất</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="btn-group dropdown-menu-start dropdown text-end d-flex">
                    <a href="#" class="d-block link-light text-decoration-none" id="dropdown-alert"
                        data-bs-toggle="dropdown" aria-expanded="false">

                    </a>
                    <ul class="dropdown-menu dropdown-menu-start animate text-small" aria-labelledby="dropdown-alert">
                        <li>
                            <div class="dropdown-item list-group list-group-flush border-bottom scrollarea">
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-tight"
                                    aria-current="true">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <strong class="mb-1">List group item heading</strong>
                                        <small>Wed</small>
                                    </div>
                                    <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the
                                        heading
                                        and
                                        date.
                                    </div>
                                </a>

                            </div>

                        </li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item sign-out" href="/logout">Sign out</a></li>

                        {{!-- <div class="dropdown text-end d-flex">
                            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle"
                                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                    class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                                <li><a class="dropdown-item" href="#">New project...</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/api/logout">Sign out</a></li>
                            </ul> --}}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>