{{!-- Display the comments data --}}
<div class="container d-lg-flex flex-column">
    {{#each post}}
    <div class="post_id p-3 mb-4" data-postid="{{_id}}">
        <script class="comment_data_template_{{_id}}" type="text/template">
            <div class="input-group row mt-3">
                <div class="d-flex justify-content-end col-2">
                    <a class="d-flex align-items-start justify-content-start post-comments_avatar"
                        href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                        <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                            alt="avatar" width="50" height="50" class="rounded-circle">
                    </a>
                </div>
                <div class="d-flex col-10 justify-content-center align-items-center">
                    <textarea class="form-control post-comment_input" rows="1" aria-label="With textarea"
                    placeholder="Comments"></textarea>
                </div>
                <button class="d-none btn btn-outline-secondary comment_btn" type="button"
                    id="button-addon2">Button</button>
            </div>
            <div class="card card-body">
                <div class="card card-body">
                    {{#comments}}
                    <p>
                        <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                        alt="avatar" width="50" height="50" class="rounded-circle post-comments_avatar">
                        {{#each user}}
                            {{username}}{{fullname}}
                        {{/each}}
                        <div class="col-12 mb-1 small">
                            {{create_date}}
                        </div>
                        {{_id}}
                        {{content}}
                    </p>
                    {{/comments}}
                </div>
            </div>
        </script>
        {{!-- Post header --}}
        <div class="row">
            {{!-- Show name and date post --}}
            <div class="col-lg-6">
                <div class="row d-flex align-items-center">
                    <a class="col-2 d-flex align-items-start justify-content-start"
                        href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                        <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                            alt="avatar" width="50" height="50" class="rounded-circle post-comments_avatar">
                    </a>
                    <a class="row col-10 d-flex align-items-center justify-content-center ps-4"
                        href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                        <div class="col-12 mb-1 small">
                            <strong>
                                {{#each user}}
                                {{username}}
                                {{fullname}}
                                {{/each}}
                            </strong>
                        </div>
                        <div class="col-12 mb-1 small">
                            {{create_date}} at {{create_time}}
                            {{#if isUpdated}}updated{{/if}}
                        </div>
                    </a>
                </div>
            </div>
            <div class="underline">
                9 Phút
            </div>
        </div>
        <div class="ms-auto p-2 bd-highlight">
            <div class="material-icons-outlined option">
                more_horiz
            </div>
        </div>
    </div>
</div>
<div class="post_body">
    <div class="text_caption mb-1">
        Facebook's Oculus Quest 2 starts shipping today! It's another big step 
        forward for VR. I've been using mine all summer and I'm looking forwardforward for VR. I've been using mine all summer and I'm looking forward 

    </div>
    <img class="img_post" src="http://media.vietq.vn/files/thanhlong/2017/10/13/xinh-hanh100.jpg">
    <div class="d-flex justify-content-end">
        <div class="comment underline">
            16K Bình Luận
        </div>
    </div>
    <div class="button_post container">
        <div class="row">
            <div type="button" class="btn btn-secondary btn_comment col">
                <div class="d-flex justify-content-center">
                <div class="material-icons-outlined  icon">
                chat_bubble_outline
                </div>
                <div>Bình Luận</div>
                </div>
            </div>
        </div>
    </div>
    <div class="underline margin">
    Xem tất cả bình luận
    </div>
</div>

<div class="post_comments">
    <div class="head_comment mb-1">
        <div class="display">
            <img  class="circle_img_comment p-2 bd-highlight" src="image/tdt.jpg">
        </div>
        <div class="display input_bar">
            <textarea  type="text" placeholder="Write a comment..." class="form-control modal-style comment_box bg color"></textarea>
        </div>
    </div> 
    <div class="post_header">
        <div class="d-flex bd-highlight mb-1 mt-1" >
            <img  class="circle_img p-2 bd-highlight" src="image/tdt.jpg">
            <div class="p-2 bd-highlight color">
            <div class="underline">
                Luke
            </div>
            <div>
                Cnt2 Web Cnt2 Web Cnt2 Web Cnt2 Web
                Cnt2 Web Cnt2 Web Cnt2 Web Cnt2 Web
            </div>
        </div> 
    </div>
    <div class="comment__links">
        <small class="underline">20 Phút</small>
    </div>
    
</div> 
</div>
</div>

