{{!-- Hiển thị bài viết --}}
{{#each post}}
<div class="post_id bg-white container d-lg-flex flex-column p-0 mb-4" data-postid="{{_id}}">
    {{!-- Script render phần bình luận cho handlebars --}}
    <script class="comment_data_template_{{_id}}" type="text/template">
        <div class="input-group row mt-3 head_comment">
            <div class="d-flex justify-content-end col-2">
                <a class="d-flex align-items-start justify-content-start post-comments_avatar"
                    href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                    <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                        alt="avatar" width="50" height="50" class="rounded-circle">
                </a>
            </div>
            <div class="display col-10 input_bar">
                <textarea type="text" placeholder="Write a comment in scripts..."
                    class="form-control modal-style comment_box bg color" oninput="onChangeTextArea()"></textarea>
            </div>
        </div>
        {{!-- ----------------- --}}
        {{#comments}}
        <div class="post_header">
            <div class="d-flex bd-highlight mb-1 mt-1">
                <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                    alt="avatar" width="50" height="50" class="circle_img rounded-circle post-comments_avatar">
                <div class="p-2 bd-highlight color">
                    <div class="underline">
                        {{#each user}}
                            {{username}}{{fullname}}
                        {{/each}}
                    </div>
                    <div>
                        {{_id}}
                        {{content}}
                    </div>
                </div>
            </div>
            <div class="comment__links">
                <small class="underline">20 Phút</small>
            </div>
        </div>
        {{/comments}}
        {{!-- ----------------------------- --}}
    </script>

    {{!-- Post header - Hiển thị tên chủ bài viết và ngày đăng --}}
    <div class="post_header">
        <div class="d-flex row bd-highlight">
            <a class="col-2 d-flex align-items-start justify-content-end"
                href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                    alt="avatar" width="50" height="50" class="circle_img p-2 bd-highlight post-comments_avatar">
            </a>
            <a class="row col-8 d-flex align-items-center justify-content-center"
                href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                <div class="p-2 bd-highlight set_margin">
                    <div class="underline">
                        <strong>
                            {{#each user}}
                            {{username}}
                            {{fullname}}
                            {{/each}}
                        </strong>
                    </div>
                    <div class="underline">
                        {{create_date}} at {{create_time}}
                        {{#if isUpdated}}updated{{/if}}
                    </div>
                </div>
            </a>
            {{!-- Post action --}}
            <div class="col-lg-2 d-flex align-items-center justify-content-end">
                <div class="dropdown">
                    <span class="material-icons-two-tone option" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        more_horiz
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{!-- Phần hiển thị nội dung bài viết --}}
    <div class="d-flex flex-column justify-content-center post-content">
        {{!-- Post body --}}
        <div class="row">
            <div class="d-flex justify-content-start ms-4 bd-highlight col-12 mt-3">
                {{caption}}
            </div>
            <div class="col-12 mt-3">
                <img src="../../../image/{{image}}" alt="image" class="img-post img-fluid">
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div class="comment underline">
                16K Bình Luận
            </div>
        </div>
        <div class="button_post container">
            <div class="row">
                <div type="button" class="btn btn-secondary btn_comment comments_expand col">
                    <div class="d-flex justify-content-center">
                        <div class="material-icons-outlined  icon">
                            chat_bubble_outline
                        </div>
                        <div>Bình Luận</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="spinner-border d-none" id="comment_loading_{{_id}}" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <div class="col-12 post_comments comment_container_{{_id}} d-none" id="comment_{{_id}}">
        <div class="input-group row mt-3">
            <div class="head_comment mb-1">
                <div class="display">
                    {{!-- <img class="circle_img_comment p-2 bd-highlight" src="image/tdt.jpg"> --}}
                    <div class="d-flex justify-content-end col-2">
                        <a class="d-flex align-items-start justify-content-start post-comments_avatar"
                            href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                            <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                                alt="avatar" width="50" height="50" class="rounded-circle">
                        </a>
                    </div>
                </div>
                <div class="display input_bar">
                    <textarea type="text" placeholder="Write a comment at col..."
                        class="form-control modal-style comment_box bg color"></textarea>
                </div>
            </div>
        </div>

        <div class="head_comment mb-1">
            <div class="display">
                <img class="circle_img_comment p-2 bd-highlight" src="image/tdt.jpg">
            </div>
            <div class="display input_bar">
                <textarea type="text" placeholder="Write a comment..."
                    class="form-control modal-style comment_box bg color"></textarea>
            </div>
        </div>

    </div>
</div>
{{/each}}

<script type="text/javascript">
    function onChangeTextArea() {
        const tx = $('.comment_box');
        for (let i = 0; i < tx.length; i++) {
            tx[i].setAttribute(
                'style',
                'height:' + tx[i].scrollHeight + 'px;overflow-y:hidden;'
            );
            tx[i].addEventListener('input', OnInput, false);
        }
        function OnInput() {
            this.style.height = 'auto';
            this.style.height = this.scrollHeight + 'px';
        }
    }

</script>