<div class="container d-lg-flex flex-column">
    {{#each post}}
    <div class="p-3 mb-4" style="background-color: rgb(212, 212, 212);">
        {{!-- Post header --}}
        <div class="row">
            {{!-- Show name and date post --}}
            <div class="col-lg-6">
                <div class="row d-flex align-items-center">
                    <a class="col-2 d-flex align-items-start justify-content-start"
                        href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                        <img src='{{#each user}}{{#if username}}../../../{{avatar}}{{else}}{{avatar}}{{/if}}{{/each}}'
                            alt="avatar" width="50" height="50" class="rounded-circle">
                    </a>
                    <a class="row col-10 d-flex align-items-center justify-content-center ps-4"
                        href="/api/user/{{#each user}}{{username}}{{fullname}}{{/each}}">
                        <div class="col-12 mb-1 small">
                            <strong>
                                {{#each user}}
                                {{username}}
                                {{fullname}}
                                {{/each}}
                            </strong>
                        </div>
                        <div class="col-12 mb-1 small">
                            {{create_date}} at {{create_time}}
                            {{#if isUpdated}}updated{{/if}}
                        </div>
                    </a>
                </div>
            </div>
            {{!-- Post action --}}
            <div class="col-lg-6 d-flex align-items-center justify-content-end pe-5">
                <div class="dropdown">
                    <span class="material-icons-two-tone" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        more_horiz
                    </span>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{!-- Post body --}}
        <div class="row">
            <div class="col-12">
                {{caption}}
            </div>
            <div class="col-12">
                <img src="../../../image/{{image}}" alt="image" class="img-fluid">
            </div>
        </div>
        <div class="col-12 mt-2 mb-2" style="border-bottom: 2px solid black;"></div>
        {{!-- Post footer --}}
        <div class="row">
            {{!-- Comment section --}}
            <div class="row col-12">
                <div class="col-6 d-flex justify-content-start align-items-center">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#a{{_id}}"
                        aria-expanded="false" aria-controls="collapseComment">
                        Comments
                    </button>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                    +99 comments
                </div>
            </div>
        </div>
        <div class="col-12 mt-2 mb-2" style="border-bottom: 2px solid black;"></div>
        {{!-- Collapse interative comments --}}
        <div class="col-12 collapse" id="a{{_id}}">
            <div class="card card-body" style="background-color: rgb(212, 212, 212);">
                <div class="input-group mb-3">
                    <textarea class="form-control comment_input" aria-label="With textarea"
                        placeholder="Comments"></textarea>
                    <button class="d-none btn btn-outline-secondary comment_btn" type="button"
                        id="button-addon2">Button</button>
                </div>
            </div>
            <div class="card card-body" style="background-color: rgb(212, 212, 212);">
                <ul>
                    {{#each comments}}
                    <li>
                        {{#each user}}{{username}}{{fullname}}{{/each}}
                        {{content}}
                    </li>
                    {{/each}}
                </ul>

            </div>
        </div>
    </div>
    {{/each}}
</div>