{{#if isProfilePage}}
<div class="d-lg-flex sb-left_profile flex-column">
    <div class="d-flex flex-column align-items-center justify-content-center sb-left-header">
        {{#each currentProfile}}
        {{#if fullname}}
        <img src='{{avatar}}' alt="avatar" width="100" height="100" class="rounded-circle m-3">
        {{/if}}
        {{/each}}
        <p class="text-white text-center">
            <strong>
                {{#each currentProfile}}
                {{#if fullname}}
                {{fullname}}
                {{else}}
                {{username}}
                {{/if}}
                {{/each}}
            </strong>
        </p>
    </div>
    <hr>
    {{#unless admin}}
    {{#if isOwner}}
    <div class="my-3 w-100">
        <a href="{{#each currentProfile}}{{_id}}{{/each}}/update-info" class="btn btn-primary w-100 p-3"
            style="font-size: 18px">Thay đổi thông tin</a>
    </div>
    {{/if}}
    {{/unless}}
    <div>
        {{#if currentProfile}}
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row p-1">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span class="material-icons-outlined">
                            screen_lock_portrait
                        </span>
                    </div>
                    <div class="col-10">
                        <p class="m-0"><strong>{{#each currentProfile}}{{role}}{{/each}}</strong></p>
                        <small>Vai trò</small>
                    </div>
                </div>
            </li>
            {{#unless admin}}
            <li class="list-group-item">
                <div class="row p-1">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span class="material-icons-outlined">
                            class
                        </span>
                    </div>
                    <div class="col-10">
                        <p class="m-0"><strong>{{#each currentProfile}}{{currentProfile.class}}{{/each}}</strong>
                        </p>
                        <small>Lớp</small>
                    </div>
                </div>
            </li>

            <li class="list-group-item">
                <div class="row p-1">
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <span class="material-icons-outlined">
                            toc
                        </span>
                    </div>
                    <div class="col-10">
                        <p class="m-0"><strong>{{#each currentProfile}}{{currentProfile.faculty}}{{/each}}</strong></p>
                        <small>Phòng/khoa</small>
                    </div>
                </div>
            </li>
            {{/unless}}
        </ul>
        {{/if}}
    </div>
</div>
{{else}}
<div class="d-lg-flex sb-left d-xm-none d-none flex-column p-2">
    <div class="d-flex flex-column align-items-center sb-left-header">
        <img src='{{#each currentProfile}}{{avatar}}{{/each}}' alt="avatar" width="100" height="100"
            class="rounded-circle m-3">
        <p class="text-white">
            <strong>
                {{#each currentProfile}}
                {{#if username}}
                {{username}}
                {{else}}
                {{fullname}}
                {{/if}}
                {{/each}}
            </strong>
        </p>

    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item sb-left-link">
            <a href="/" class="nav-link d-flex justify-content-start" aria-current="page">
                Trang chủ
            </a>
        </li>
        <li class="nav-item sb-left-link">
            <a href="/profile/{{user._id}}" class="nav-link d-flex justify-content-start" aria-current="page">
                Thay đổi thông tin
            </a>
        </li>
        {{!-- <li class="nav-item sb-left-link">
            <a href="/announcements/sections" class="nav-link d-flex justify-content-start" aria-current="page">
                Thông báo đơn vị/phòng ban
            </a>
        </li> --}}
        {{!-- Nếu là admin sẽ hiện trang quản lý --}}
        {{#if admin}}
        <li class="nav-item sb-left-link">
            <a href="/manage" class="nav-link d-flex justify-content-start" aria-current="page">
                Quản lý người dùng
            </a>
        </li>
        {{!-- Collapse quản lý --}}
        {{!-- <li class="nav-item sb-left-link">
            <a href="#collapseManagement" role="button" class="nav-link d-flex justify-content-start"
                data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseManagement">
                Quản lý người dùng
            </a>
            <div class="collapse" id="collapseManagement">
                <div class="">
                    <button class="d-flex justify-content-start sb-left-content" type="button"
                        data-bs-target="#carouselManagement" data-bs-slide="prev">
                        <a href="/management">Học viên</a>
                    </button>
                </div>
                <div class="">
                    <button class="d-flex justify-content-start sb-left-content" type="button"
                        data-bs-target="#carouselManagement" data-bs-slide="next">
                        <a href="/management">Phòng/Khoa</a>
                    </button>
                </div>
                <div class="">
                    <button class="d-flex justify-content-start sb-left-content" type="button">
                        <a href="#">Tạo tài khoản Phòng/Khoa</a>
                    </button>
                </div>
            </div>
        </li> --}}
        {{/if}}
    </ul>
</div>
{{/if}}