<div class="container sb-right d-lg-flex d-none flex-column p-2">
    <div class="d-flex align-items-center sb-right-header justify-content-center p-1">
        <span>Thông báo từ Phòng/Khoa<strong class="text-danger">*</strong></span>
    </div>

    <div class="list-group list-group-flush border-bottom scrollarea">
        {{#each announcements}}
        <a href="/announcement/{{_id}}" class="list-group-item list-group-item-action p-3 mt-1 sb-right-list-item"
            aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1">{{#each user}}{{fullname}}{{/each}}</strong>
                <span class="ms-1 small alert-danger">{{#if isUpdated}}Cập
                    nhật{{/if}}</span>
            </div>
            <div class="col-12 mb-1 sb-right-content small">
                <strong>Tiêu đề: </strong>{{title}}
            </div>
            <div class="col-12 mb-1 small">
                <strong>Ngày đăng:</strong> {{create_date}} lúc {{create_time}}
            </div>
        </a>
        {{/each}}
    </div>
</div>