{{> header}}
<div class="container">
    <div class="d-flex row flex-row">
        {{!-- Side bar left --}}
        <div class="col-lg-3">
            {{> sidebar_left}}
        </div>

        {{!-- Main post --}}
        <div class="col-lg-9">
            <div class="d-lg-flex flex-column">
                <h1 class="d-flex align-items-center justify-content-center">Quản lý người dùng</h1>
                {{!-- <div class="d-flex align-items-center justify-content-center d-lg-none m-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-sw--student" type="button" data-bs-target="#carouselManagement" data-bs-slide="prev">
                            Học viên
                        </button>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <button class="btn btn-sw--faculty" type="button" data-bs-target="#carouselManagement" data-bs-slide="next">
                            Phòng/Khoa
                        </button>
                    </div>
                </div> --}}
                <div class="btn-userType-switch d-none align-items-center justify-content-center d-lg-flex m-3">
                    <button class="btn btn-sw--student mngt-btn-carousel" type="button" data-bs-target="#carouselManagement" data-bs-slide="prev">
                        Học viên
                    </button>
                    <button class="btn btn-sw--faculty mngt-btn-carousel" type="button" data-bs-target="#carouselManagement" data-bs-slide="next">
                        Phòng/Khoa
                    </button>
                </div>
                {{!-- Carousel --}}
                <div id="carouselManagement" data-bs-wrap="false" data-bs-interval="false" class="carousel slide"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {{!-- Student Carousel --}}
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>Thông tin các Học viên</h5>
                                </div>
                            </div>
                            <hr>
                            {{!-- Table if large screen --}}
                            <div class="d-lg-flex d-none table-responsive">
                                <table class="table table-hover table-student" style="overflow: hidden;">
                                    <thead>
                                        <tr class="admin_tr_mgmt">
                                            <th scope="col">Avatar</th>
                                            <th scope="col">Họ tên</th>
                                            <th scope="col">Vai trò</th>
                                            <th scope="col">Khoa</th>
                                            <th scope="col">Lớp</th>
                                            <th scope="col">Tương tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{!-- {{#each student}} --}}
                                        {{!-- <tr class="admin_tr_mgmt" style="font-size: 18px;">
                                            <td>
                                                <div>
                                                    <img src="{{avatar}}" alt="Avatar" class="admin_avatar_mgmt">
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{fullname}}</div>
                                            </td>
                                            <td>
                                                <div>Học viên</div>
                                            </td>
                                            <td class="admin_td_faculty">
                                                <div>{{faculty}}</div>
                                            </td>
                                            <td class="admin_td_topic">
                                                <div>
                                                    {{class}}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="row container">
                                                    <div class="col-6 mngt-act-btn mngt-profile-user"
                                                        data-bs-toggle="tooltip" title="Xem trang người dùng">
                                                        <a class="m-3 d-flex justify-content-center"
                                                            href="/profile/{{fullname}}">
                                                            <span class="material-icons-outlined">
                                                                account_circle
                                                            </span>
                                                            <p class="m-0 ms-2">Profile</p>
                                                        </a>
                                                    </div>
                                                    <div class="col-6 mngt-act-btn mngt-del-user"
                                                        data-bs-toggle="tooltip" title="Xoá người dùng">
                                                        <a class="m-3 d-flex justify-content-center" href="#">
                                                            <span class="material-icons-outlined">
                                                                delete
                                                            </span>
                                                            <p class="m-0 ms-2">Delete</p>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr> --}}

                                        {{!-- {{/each}} --}}
                                    </tbody>
                                </table>
                            </div>
                            {{!-- Using card for mobile --}}
                            <div class="d-lg-none d-flex">
                                <div class="card-group">
                                    <div class="card mb-3">
                                        <img src="/image/stu.png" class="img-fluid card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">This is a wider card with supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins
                                                    ago</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- Faculty Carousel --}}
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-6 col-12">
                                    <h5>Thông tin các Phòng/Khoa</h5>
                                </div>
                                <div class="col-lg-6 col-12 d-flex justify-content-end">
                                    <button type="button" class="btn btn-primary btn-create-faculty-account d-flex justify-content-center"
                                            data-bs-toggle="modal" data-bs-target="#createFacultyAccountModal">
                                        <span class="material-icons-outlined">
                                            add
                                        </span>
                                        Tạo phòng/khoa
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div class="table-responsive">
                                <table class="table table-faculty">
                                    <thead>
                                        <tr class="admin_tr_mgmt">
                                            <th scope="col">Avatar</th>
                                            <th scope="col">Tên đăng nhập</th>
                                            <th scope="col">Vai trò</th>
                                            <th scope="col">Khoa</th>
                                            <th scope="col">Chủ đề</th>
                                            <th scope="col">Tương tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{!-- {{#each faculty}} --}}
                                        {{!-- <tr class="admin_tr_mgmt" style="font-size: 18px;">
                                            <td>
                                                <div>
                                                    <img src="{{avatar}}" alt="Avatar" class="admin_avatar_mgmt">
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{username}}</div>
                                            </td>
                                            <td>
                                                <div>Phòng/Khoa</div>
                                            </td>
                                            <td class="admin_td_faculty">
                                                <div>{{faculty}}</div>
                                            </td>
                                            <td class="admin_td_topic">
                                                <div>
                                                    {{class}}
                                                </div>
                                            </td>
                                            <td>
                                                <a class="me-3" href="/profile/{{username}}"
                                                    style="cursor:pointer; color: green;">
                                                    <span class="material-icons-outlined" data-bs-toggle="tooltip"
                                                        title="Profile">
                                                        account_circle
                                                    </span>
                                                </a>
                                                <a class="me-3" href="#" style="cursor:pointer; color: red">
                                                    <span class="material-icons-outlined" data-bs-toggle="tooltip"
                                                        title="Xoá người dùng">
                                                        delete
                                                    </span>
                                                </a>
                                                <a class="me-3" href="#" style="cursor:pointer; color: coral">
                                                    <span class="material-icons-outlined" data-bs-toggle="tooltip"
                                                        title="Cấp quyền chủ đề">
                                                        topic
                                                    </span>
                                                </a>
                                            </td>
                                        </tr> --}}
                                        {{!-- {{/each}} --}}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Faculty account create modal --}}
    <div class="modal fade" id="createFacultyAccountModal" tabindex="-1" aria-labelledby="createFacultyAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createFacultyAccountModalLabel">Tạo tài khoản Phòng/khoa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createFacultyAccount">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control inputEmail" placeholder="d" required>
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control inputPassword" placeholder="d" required>
                            <label for="exampleInputPassword1" class="form-label">Mật Khẩu</label>
                        </div>
                        <div class="mb-3">
                            {{!-- <label for="unit-select" class="form-label">Chọn</label> --}}
                            <select class="form-select" id="unit-select" aria-label="Unit-select" required>
                                <option selected hidden>Chọn đơn vị</option>
                                <option value="central">Phòng ban trung tâm</option>
                                <option value="faculty">Khoa</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-select" id="section-select" aria-label="section-select" required>
                                <option selected hidden>Chọn chuyên mục</option>
                                <option disabled>Hãy chọn một đơn vị!</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary btn-submit" form="createFacultyAccount">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/management.script.js"></script>
</div>

{{!-- <div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr class="admin_tr_mgmt">
                    <th scope="col">Avatar</th>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Vai trò</th>
                    <th scope="col">Khoa</th>
                    <th scope="col">Chủ đề</th>
                    <th scope="col">Tương tác</th>
                </tr>
            </thead>
            <tbody>
                <tr class="admin_tr_mgmt" style="font-size: 18px;">
                    <td>
                        <div>
                            <img src="/image/tdt.png" alt="Avatar" class="admin_avatar_mgmt">
                        </div>
                    </td>
                    <td>
                        <div>Nguyễn Văn A</div>
                    </td>
                    <td>
                        <div>Phòng/Khoa</div>
                    </td>
                    <td class="admin_td_faculty">
                        <div>Faculty of Biology - Medicine</div>
                    </td>
                    <td class="admin_td_topic">
                        <div>
                            Vể CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2CNTT2
                        </div>
                    </td>
                    <td>
                        <a class="me-3" href="#" style="cursor:pointer; color: green;">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" title="Profile">
                                account_circle
                            </span>
                        </a>
                        <a class="me-3" href="#" style="cursor:pointer; color: red">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" title="Xoá người dùng">
                                delete
                            </span>
                        </a>
                        <a class="me-3" href="#" style="cursor:pointer; color: coral">
                            <span class="material-icons-outlined" data-bs-toggle="tooltip" title="Cấp quyền chủ đề">
                                topic
                            </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> --}}

<script src="/js/admin.js"></script>