<link rel="stylesheet" href="/stylesheet/updateInfo.css">
{{> header}}
<div class="container">
    <div class="d-flex row flex-row">
        <div class="container">
            <div class="form-container border rounded">
                <h3 class="form__title mb-4" style="text-align: center">Cập nhật thông tin</h3>
                <form id="updateUserInfo" class="d-flex flex-column justify-content-center w-100" data-id={{user._id}} data-role={{user.role}}>
                    <ul class="msg-display">
                    </ul>
                {{#if isStudent}}
                    <div class="mb-3 d-flex justify-content-center align-items-center">
                        <div class="user-avatar d-flex justify-content-center">
                            <div class="img_holder">
                                <img src="../../image/{{user.avatar}}" alt="">
                                {{!-- <img src="{{#each user}}{{avatar}}{{/each}}" alt="avatar" style="border-radius: 50%;"> --}}
                            </div>
                            <span class="avatar-upload-button me-2 material-icons-outlined">
                                edit
                            </span>
                            <input type="file" class="avatar_upload" hidden>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="user-fullName" class="form-label">Tên hiển thị</label>
                        <input type="text" class="form-control user-fullName" id="user-fullName" value="{{#each user}}{{fullname}}{{/each}}">
                    </div>
                    <div class="mb-3">
                        <label for="user-class" class="form-label">Lớp</label>
                        <input type="text" class="form-control user-class" id="user-class" value="{{#each user}}{{class}}{{/each}}">
                    </div>
                    <div class="mb-3">
                        <label for="section-select" class="form-label">Khoa</label>
                        <select class="form-select section-select" id="section-select" data-selected={{user.unit}}>
                            <option value="" hidden>Chọn khoa</option>
                        </select>
                    </div>
                {{else}}
                    {{#if isFaculty}}
                        <div class="mb-3">
                            <label for="user-password" class="form-label">Mật khẩu mới</label>
                            <input type="password" class="form-control user-password" id="user-password" required>
                        </div>
                        <div class="mb-3">
                            <label for="user-password-repeat" class="form-label">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control user-password-confirm" id="user-password-confirm" required>
                        </div>
                    {{/if}}
                {{/if}}
                    <button type="submit" class="btn btn-primary mt-3">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/user_updateInfo.js"></script>

